<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/chalk.js"></script>

    
</head>
<body>
        <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 12px 16px;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

        .chart-container {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }
    </style>
    <div class="tab">
            <button class="tablinks" onclick="showChart(event, 'cc5701cbfd064fcd8c7c668f52b7ec2c')">分箱宽度=2000</button>
            <button class="tablinks" onclick="showChart(event, 'f3fcf4350fa048d99e52adca11844082')">分箱宽度=3000</button>
            <button class="tablinks" onclick="showChart(event, '95f6186f55b64ac2b1c35682c20cb3be')">分箱宽度=4000</button>
            <button class="tablinks" onclick="showChart(event, '00f2033997714dd49781811ac191e1cf')">分箱宽度=5000</button>
    </div>

    <div class="box">
                <div id="cc5701cbfd064fcd8c7c668f52b7ec2c" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_cc5701cbfd064fcd8c7c668f52b7ec2c = echarts.init(
            document.getElementById('cc5701cbfd064fcd8c7c668f52b7ec2c'), 'chalk', {renderer: 'canvas'});
        var option_cc5701cbfd064fcd8c7c668f52b7ec2c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u5faa\u73af\u5bff\u547d",
            "legendHoverLink": true,
            "data": [
                0,
                244,
                296,
                127,
                155,
                174,
                200,
                146,
                124,
                64,
                17,
                5
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "2%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5faa\u73af\u5bff\u547d"
            ],
            "selected": {
                "\u5faa\u73af\u5bff\u547d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "font_size": 100
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5faa\u73af\u5bff\u547d\uff0c\u5206\u7bb1\u5bbd\u5ea6=2000",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 25,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 0,
                "margin": 7,
                "font_size": 5,
                "font_family": "Courier New",
                "interval": 1
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": [
                "40%",
                "40%"
            ],
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0        2000",
                "2000        4000",
                "4000        6000",
                "6000        8000",
                "8000        10000",
                "10000        12000",
                "12000        14000",
                "14000        16000",
                "16000        18000",
                "18000        20000",
                "20000        22000",
                "22000        24000"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "count",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 40,
            "nameRotate": 90,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u4e0d\u540c\u5206\u7bb1\u5bbd\u5ea6\u4e0b\u7684\u76f4\u65b9\u56fe",
        "subtext": "\u53ef\u4ee5\u70b9\u51fb\u4e0a\u9762\u7684\u6309\u94ae\u5207\u6362\n\u00a9aucopo"
    },
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_cc5701cbfd064fcd8c7c668f52b7ec2c.setOption(option_cc5701cbfd064fcd8c7c668f52b7ec2c);
    </script>
                <div id="f3fcf4350fa048d99e52adca11844082" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f3fcf4350fa048d99e52adca11844082 = echarts.init(
            document.getElementById('f3fcf4350fa048d99e52adca11844082'), 'chalk', {renderer: 'canvas'});
        var option_f3fcf4350fa048d99e52adca11844082 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u5faa\u73af\u5bff\u547d",
            "legendHoverLink": true,
            "data": [
                0,
                456,
                211,
                248,
                281,
                220,
                113,
                22
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "2%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5faa\u73af\u5bff\u547d"
            ],
            "selected": {
                "\u5faa\u73af\u5bff\u547d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "font_size": 100
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5faa\u73af\u5bff\u547d\uff0c\u5206\u7bb1\u5bbd\u5ea6=3000",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 25,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 0,
                "margin": 7,
                "font_size": 5,
                "font_family": "Courier New"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": [
                "40%",
                "40%"
            ],
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0                  3000",
                "3000                  6000",
                "6000                  9000",
                "9000                  12000",
                "12000                  15000",
                "15000                  18000",
                "18000                  21000",
                "21000                  24000"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "count",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 40,
            "nameRotate": 90,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u4e0d\u540c\u5206\u7bb1\u5bbd\u5ea6\u4e0b\u7684\u76f4\u65b9\u56fe",
        "subtext": "\u53ef\u4ee5\u70b9\u51fb\u4e0a\u9762\u7684\u6309\u94ae\u5207\u6362\n\u00a9aucopo"
    },
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_f3fcf4350fa048d99e52adca11844082.setOption(option_f3fcf4350fa048d99e52adca11844082);
    </script>
                <div id="95f6186f55b64ac2b1c35682c20cb3be" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_95f6186f55b64ac2b1c35682c20cb3be = echarts.init(
            document.getElementById('95f6186f55b64ac2b1c35682c20cb3be'), 'chalk', {renderer: 'canvas'});
        var option_95f6186f55b64ac2b1c35682c20cb3be = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u5faa\u73af\u5bff\u547d",
            "legendHoverLink": true,
            "data": [
                0,
                540,
                282,
                374,
                270,
                81
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "2%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5faa\u73af\u5bff\u547d"
            ],
            "selected": {
                "\u5faa\u73af\u5bff\u547d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "font_size": 100
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5faa\u73af\u5bff\u547d\uff0c\u5206\u7bb1\u5bbd\u5ea6=4000",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 25,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 0,
                "margin": 7,
                "font_size": 5,
                "font_family": "Courier New"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": [
                "40%",
                "40%"
            ],
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0                        4000",
                "4000                        8000",
                "8000                        12000",
                "12000                        16000",
                "16000                        20000",
                "20000                        24000"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "count",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 40,
            "nameRotate": 90,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u4e0d\u540c\u5206\u7bb1\u5bbd\u5ea6\u4e0b\u7684\u76f4\u65b9\u56fe",
        "subtext": "\u53ef\u4ee5\u70b9\u51fb\u4e0a\u9762\u7684\u6309\u94ae\u5207\u6362\n\u00a9aucopo"
    },
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_95f6186f55b64ac2b1c35682c20cb3be.setOption(option_95f6186f55b64ac2b1c35682c20cb3be);
    </script>
                <div id="00f2033997714dd49781811ac191e1cf" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_00f2033997714dd49781811ac191e1cf = echarts.init(
            document.getElementById('00f2033997714dd49781811ac191e1cf'), 'chalk', {renderer: 'canvas'});
        var option_00f2033997714dd49781811ac191e1cf = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u5faa\u73af\u5bff\u547d",
            "legendHoverLink": true,
            "data": [
                0,
                623,
                373,
                420
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "2%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5faa\u73af\u5bff\u547d"
            ],
            "selected": {
                "\u5faa\u73af\u5bff\u547d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "font_size": 100
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5faa\u73af\u5bff\u547d\uff0c\u5206\u7bb1\u5bbd\u5ea6=5000",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 25,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 0,
                "margin": 7,
                "font_size": 5,
                "font_family": "Courier New"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": [
                "40%",
                "40%"
            ],
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0                                    5000",
                "5000                                    10000",
                "10000                                    15000",
                "15000                                    20000",
                "20000                                    25000"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "count",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 40,
            "nameRotate": 90,
            "nameTextStyle": {
                "fontSize": 16
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u4e0d\u540c\u5206\u7bb1\u5bbd\u5ea6\u4e0b\u7684\u76f4\u65b9\u56fe",
        "subtext": "\u53ef\u4ee5\u70b9\u51fb\u4e0a\u9762\u7684\u6309\u94ae\u5207\u6362\n\u00a9aucopo"
    },
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_00f2033997714dd49781811ac191e1cf.setOption(option_00f2033997714dd49781811ac191e1cf);
    </script>
    </div>

    <script>
    </script>
    <script>
        (function() {
            containers = document.getElementsByClassName("chart-container");
            if(containers.length > 0) {
                containers[0].style.display = "block";
            }
        })()

        function showChart(evt, chartID) {
            let containers = document.getElementsByClassName("chart-container");
            for (let i = 0; i < containers.length; i++) {
                containers[i].style.display = "none";
            }

            let tablinks = document.getElementsByClassName("tablinks");
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].className = "tablinks";
            }

            document.getElementById(chartID).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>
</html>
