<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8dffe34534ed45548ad84ae00cccda03" class="chart-container" style="width:880px; height:1000px;"></div>
    <script>
        var chart_8dffe34534ed45548ad84ae00cccda03 = echarts.init(
            document.getElementById('8dffe34534ed45548ad84ae00cccda03'), 'white', {renderer: 'canvas'});
        var option_8dffe34534ed45548ad84ae00cccda03 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u7535\u89e3\u6db2",
            "clockwise": true,
            "data": [
                {
                    "name": "TC-E269-F4",
                    "value": 750
                },
                {
                    "name": "TC-E269-F2",
                    "value": 128
                },
                {
                    "name": "SS-ZZWB011",
                    "value": 370
                },
                {
                    "name": "SS-ZZWB077",
                    "value": 78
                },
                {
                    "name": "SS-ZZWB078",
                    "value": 87
                },
                {
                    "name": "SS-ZZWB079",
                    "value": 90
                },
                {
                    "name": "SS-ZZWB080",
                    "value": 72
                },
                {
                    "name": "SS-ZZWB081",
                    "value": 54
                },
                {
                    "name": "SS-ZZWB082",
                    "value": 54
                },
                {
                    "name": "SS-ZZWB083",
                    "value": 99
                },
                {
                    "name": "SS-ZZWB084",
                    "value": 60
                },
                {
                    "name": "SS-ZZWB085",
                    "value": 60
                },
                {
                    "name": "SS-ZZWB086",
                    "value": 116
                },
                {
                    "name": "SS-ZZWB087",
                    "value": 53
                },
                {
                    "name": "SS-ZZWB088",
                    "value": 54
                },
                {
                    "name": "SS-ZZWB089",
                    "value": 54
                },
                {
                    "name": "SS-ZZWB090",
                    "value": 54
                },
                {
                    "name": "SS-ZZWB091",
                    "value": 54
                },
                {
                    "name": "SS-ZZWB092",
                    "value": 54
                },
                {
                    "name": "TC-E269-F3",
                    "value": 90
                },
                {
                    "name": "TC-EYK05",
                    "value": 84
                },
                {
                    "name": "TC-E269-F5",
                    "value": 36
                },
                {
                    "name": "TC-E269-F6",
                    "value": 18
                },
                {
                    "name": "TC-E269-F7",
                    "value": 18
                },
                {
                    "name": "TC-E269-F8",
                    "value": 18
                },
                {
                    "name": "TC-E269-F9",
                    "value": 18
                },
                {
                    "name": "TC-E269-F10",
                    "value": 18
                },
                {
                    "name": "TC-E269-F11",
                    "value": 18
                }
            ],
            "radius": [
                60,
                90
            ],
            "center": [
                "25%",
                "20%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter":     function(params) {        return params.name + ' : ' + params.value + '';    }    
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u7535\u89e3\u6db2",
            "clockwise": true,
            "data": [
                {
                    "name": "\u7535\u89e3\u6db2",
                    "value": 1
                }
            ],
            "radius": [
                0,
                0
            ],
            "center": [
                "25%",
                "20%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u6b63\u6781\u6750\u6599",
            "clockwise": true,
            "data": [
                {
                    "name": "DY-7",
                    "value": 470
                },
                {
                    "name": "P2",
                    "value": 1993
                },
                {
                    "name": "S20",
                    "value": 6
                },
                {
                    "name": "DY-1",
                    "value": 59
                },
                {
                    "name": "DY-3",
                    "value": 54
                },
                {
                    "name": "P2S",
                    "value": 54
                },
                {
                    "name": "P2S2",
                    "value": 23
                }
            ],
            "radius": [
                60,
                90
            ],
            "center": [
                "70%",
                "20%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter":     function(params) {        return params.name + ' : ' + params.value + '';    }    
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u6b63\u6781\u6750\u6599",
            "clockwise": true,
            "data": [
                {
                    "name": "\u6b63\u6781\u6750\u6599",
                    "value": 1
                }
            ],
            "radius": [
                0,
                0
            ],
            "center": [
                "70%",
                "20%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u8d1f\u6781\u6750\u6599",
            "clockwise": true,
            "data": [
                {
                    "name": "CP5",
                    "value": 734
                },
                {
                    "name": "CP5-H",
                    "value": 773
                },
                {
                    "name": "EP7-M+PG09SC",
                    "value": 300
                },
                {
                    "name": "CP7-M+BAG-8K",
                    "value": 228
                },
                {
                    "name": "KC-4",
                    "value": 24
                },
                {
                    "name": "CP7-M+YK-3",
                    "value": 114
                },
                {
                    "name": "AGP-6H",
                    "value": 126
                },
                {
                    "name": "E22",
                    "value": 252
                },
                {
                    "name": "E11",
                    "value": 48
                },
                {
                    "name": "ZH-T7H",
                    "value": 48
                },
                {
                    "name": "CP5-H+ACP-H(5:5)",
                    "value": 12
                }
            ],
            "radius": [
                60,
                90
            ],
            "center": [
                "25%",
                "55%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter":     function(params) {        return params.name + ' : ' + params.value + '';    }    
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u8d1f\u6781\u6750\u6599",
            "clockwise": true,
            "data": [
                {
                    "name": "\u8d1f\u6781\u6750\u6599",
                    "value": 1
                }
            ],
            "radius": [
                0,
                0
            ],
            "center": [
                "25%",
                "55%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u9694\u819c\u7eb8",
            "clockwise": true,
            "data": [
                {
                    "name": "\u6069\u6377\u9ad8\u5b54(9+3)*33",
                    "value": 543
                },
                {
                    "name": "\u6069\u6377(9+3)*33",
                    "value": 32
                },
                {
                    "name": "\u6069\u6377\u9ad8\u5b549*32.5",
                    "value": 341
                },
                {
                    "name": "W-SCOPE\u9ad8\u5b54(9+3)*32.75",
                    "value": 244
                },
                {
                    "name": "W-SCOPE(9+3)*32.75",
                    "value": 382
                },
                {
                    "name": "\u6069\u6377\u9ad8\u5b54(9+3)*32.5",
                    "value": 114
                },
                {
                    "name": "\u6069\u6377\u9ad8\u5b5412*32.5",
                    "value": 6
                },
                {
                    "name": "\u6069\u6377(7+2)*32.5",
                    "value": 84
                },
                {
                    "name": "W-SCOPE\u9ad8\u5b549*32.5",
                    "value": 252
                },
                {
                    "name": "W-SCOPE(7+2)*32.5",
                    "value": 222
                },
                {
                    "name": "NJT(7+2)*32.5",
                    "value": 20
                },
                {
                    "name": "W-SCOPE(9+2)*33",
                    "value": 132
                },
                {
                    "name": "\u6069\u6377(9+1.5)*32.5",
                    "value": 84
                },
                {
                    "name": "\u65e5\u672c\u4e1c\u4e3dDGI(7+2)*32.75",
                    "value": 203
                }
            ],
            "radius": [
                60,
                90
            ],
            "center": [
                "70%",
                "55%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter":     function(params) {        return params.name + ' : ' + params.value + '';    }    
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u9694\u819c\u7eb8",
            "clockwise": true,
            "data": [
                {
                    "name": "\u9694\u819c\u7eb8",
                    "value": 1
                }
            ],
            "radius": [
                0,
                0
            ],
            "center": [
                "70%",
                "55%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "2ex\u767e\u5206\u6bd4",
            "clockwise": true,
            "data": [
                {
                    "name": 1.004,
                    "value": 32
                },
                {
                    "name": 1.05,
                    "value": 2473
                },
                {
                    "name": 1.25,
                    "value": 74
                },
                {
                    "name": 1.5,
                    "value": 40
                },
                {
                    "name": 2.0,
                    "value": 40
                }
            ],
            "radius": [
                60,
                90
            ],
            "center": [
                "25%",
                "90%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter":     function(params) {        return params.name + ' : ' + params.value + '';    }    
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "2ex\u767e\u5206\u6bd4",
            "clockwise": true,
            "data": [
                {
                    "name": "2ex\u767e\u5206\u6bd4",
                    "value": 1
                }
            ],
            "radius": [
                0,
                0
            ],
            "center": [
                "25%",
                "90%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u6e29\u5ea6",
            "clockwise": true,
            "data": [
                {
                    "name": 25,
                    "value": 1310
                },
                {
                    "name": 40,
                    "value": 1307
                },
                {
                    "name": 50,
                    "value": 40
                },
                {
                    "name": 15,
                    "value": 2
                }
            ],
            "radius": [
                60,
                90
            ],
            "center": [
                "70%",
                "90%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter":         function(params) {        return params.name + '\u2103 : ' + params.value + '';    }    
            },
            "tooltip": {
                "is_show": true
            }
        },
        {
            "type": "pie",
            "name": "\u6e29\u5ea6",
            "clockwise": true,
            "data": [
                {
                    "name": "\u6e29\u5ea6",
                    "value": 1
                }
            ],
            "radius": [
                0,
                0
            ],
            "center": [
                "70%",
                "90%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "is_show": true
            }
        }
    ],
    "legend": [
        {
            "data": [
                "TC-E269-F4",
                "TC-E269-F2",
                "SS-ZZWB011",
                "SS-ZZWB077",
                "SS-ZZWB078",
                "SS-ZZWB079",
                "SS-ZZWB080",
                "SS-ZZWB081",
                "SS-ZZWB082",
                "SS-ZZWB083",
                "SS-ZZWB084",
                "SS-ZZWB085",
                "SS-ZZWB086",
                "SS-ZZWB087",
                "SS-ZZWB088",
                "SS-ZZWB089",
                "SS-ZZWB090",
                "SS-ZZWB091",
                "SS-ZZWB092",
                "TC-E269-F3",
                "TC-EYK05",
                "TC-E269-F5",
                "TC-E269-F6",
                "TC-E269-F7",
                "TC-E269-F8",
                "TC-E269-F9",
                "TC-E269-F10",
                "TC-E269-F11",
                "\u7535\u89e3\u6db2",
                "DY-7",
                "P2",
                "S20",
                "DY-1",
                "DY-3",
                "P2S",
                "P2S2",
                "\u6b63\u6781\u6750\u6599",
                "CP5",
                "CP5-H",
                "EP7-M+PG09SC",
                "CP7-M+BAG-8K",
                "KC-4",
                "CP7-M+YK-3",
                "AGP-6H",
                "E22",
                "E11",
                "ZH-T7H",
                "CP5-H+ACP-H(5:5)",
                "\u8d1f\u6781\u6750\u6599",
                "\u6069\u6377\u9ad8\u5b54(9+3)*33",
                "\u6069\u6377(9+3)*33",
                "\u6069\u6377\u9ad8\u5b549*32.5",
                "W-SCOPE\u9ad8\u5b54(9+3)*32.75",
                "W-SCOPE(9+3)*32.75",
                "\u6069\u6377\u9ad8\u5b54(9+3)*32.5",
                "\u6069\u6377\u9ad8\u5b5412*32.5",
                "\u6069\u6377(7+2)*32.5",
                "W-SCOPE\u9ad8\u5b549*32.5",
                "W-SCOPE(7+2)*32.5",
                "NJT(7+2)*32.5",
                "W-SCOPE(9+2)*33",
                "\u6069\u6377(9+1.5)*32.5",
                "\u65e5\u672c\u4e1c\u4e3dDGI(7+2)*32.75",
                "\u9694\u819c\u7eb8",
                1.004,
                1.05,
                1.25,
                1.5,
                2.0,
                "2ex\u767e\u5206\u6bd4",
                25,
                40,
                50,
                15,
                "\u6e29\u5ea6"
            ],
            "selected": {},
            "type": "scroll",
            "show": false,
            "left": "80%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5404\u79bb\u6563\u7279\u5f81\u7ec4\u6210",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "50%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    }
};
        chart_8dffe34534ed45548ad84ae00cccda03.setOption(option_8dffe34534ed45548ad84ae00cccda03);
    </script>
</body>
</html>
