<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1f8f018ec30a47fc8e9adef685599ecc" class="chart-container" style="width:1000px; height:600px;"></div>
    <script>
        var chart_1f8f018ec30a47fc8e9adef685599ecc = echarts.init(
            document.getElementById('1f8f018ec30a47fc8e9adef685599ecc'), 'white', {renderer: 'canvas'});
        var option_1f8f018ec30a47fc8e9adef685599ecc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u51c6\u786e\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "PCA",
                    0.992
                ],
                [
                    "MCD",
                    0.973
                ],
                [
                    "OCSVM",
                    0.989
                ],
                [
                    "LOF",
                    0.967
                ],
                [
                    "CBLOF",
                    0.996
                ],
                [
                    "KNN",
                    0.983
                ],
                [
                    "Average\n KNN",
                    0.989
                ],
                [
                    "ABOD",
                    0.967
                ],
                [
                    "HBOS",
                    0.992
                ],
                [
                    "Isolation\n Forest",
                    0.989
                ],
                [
                    "Feature\n Bagging",
                    0.971
                ],
                [
                    "LSCP",
                    0.975
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max",
                        "value": "\u6700\u5927\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min",
                        "value": "\u6700\u5c0f\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u7cbe\u786e\u5ea6",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "PCA",
                    0.818
                ],
                [
                    "MCD",
                    0.364
                ],
                [
                    "OCSVM",
                    0.727
                ],
                [
                    "LOF",
                    0.2
                ],
                [
                    "CBLOF",
                    0.909
                ],
                [
                    "KNN",
                    0.6
                ],
                [
                    "Average\n KNN",
                    0.857
                ],
                [
                    "ABOD",
                    0.25
                ],
                [
                    "HBOS",
                    0.818
                ],
                [
                    "Isolation\n Forest",
                    0.727
                ],
                [
                    "Feature\n Bagging",
                    0.25
                ],
                [
                    "LSCP",
                    0.417
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max",
                        "value": "\u6700\u5927\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min",
                        "value": "\u6700\u5c0f\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u771f\u6b63\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "PCA",
                    0.818
                ],
                [
                    "MCD",
                    0.364
                ],
                [
                    "OCSVM",
                    0.727
                ],
                [
                    "LOF",
                    0.182
                ],
                [
                    "CBLOF",
                    0.909
                ],
                [
                    "KNN",
                    0.545
                ],
                [
                    "Average\n KNN",
                    0.545
                ],
                [
                    "ABOD",
                    0.273
                ],
                [
                    "HBOS",
                    0.818
                ],
                [
                    "Isolation\n Forest",
                    0.727
                ],
                [
                    "Feature\n Bagging",
                    0.182
                ],
                [
                    "LSCP",
                    0.455
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max",
                        "value": "\u6700\u5927\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min",
                        "value": "\u6700\u5c0f\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5047\u6b63\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "PCA",
                    0.004
                ],
                [
                    "MCD",
                    0.014
                ],
                [
                    "OCSVM",
                    0.006
                ],
                [
                    "LOF",
                    0.016
                ],
                [
                    "CBLOF",
                    0.002
                ],
                [
                    "KNN",
                    0.008
                ],
                [
                    "Average\n KNN",
                    0.002
                ],
                [
                    "ABOD",
                    0.018
                ],
                [
                    "HBOS",
                    0.004
                ],
                [
                    "Isolation\n Forest",
                    0.006
                ],
                [
                    "Feature\n Bagging",
                    0.012
                ],
                [
                    "LSCP",
                    0.014
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max",
                        "value": "\u6700\u5927\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min",
                        "value": "\u6700\u5c0f\u503c",
                        "itemStyle": {
                            "opacity": 0.65
                        }
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u51c6\u786e\u7387",
                "\u7cbe\u786e\u5ea6",
                "\u771f\u6b63\u7387",
                "\u5047\u6b63\u7387"
            ],
            "selected": {
                "\u51c6\u786e\u7387": true,
                "\u7cbe\u786e\u5ea6": true,
                "\u771f\u6b63\u7387": true,
                "\u5047\u6b63\u7387": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 65,
                "margin": 7,
                "font_size": 120,
                "font_family": "Courier New"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": [
                "20%",
                "20%"
            ],
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "PCA",
                "MCD",
                "OCSVM",
                "LOF",
                "CBLOF",
                "KNN",
                "Average\n KNN",
                "ABOD",
                "HBOS",
                "Isolation\n Forest",
                "Feature\n Bagging",
                "LSCP"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Rate",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 30,
            "nameRotate": 90,
            "nameTextStyle": {
                "fontSize": 20
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 1.2,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e0d\u540c\u5f02\u5e38\u68c0\u6d4b\u7b97\u6cd5\u5728\u591a\u7ef4\u53d8\u91cf\u7684\u5404\u9879\u6307\u6807",
            "subtext": "\u00a9aucopo",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "50%",
        "top": "5%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    }
};
        chart_1f8f018ec30a47fc8e9adef685599ecc.setOption(option_1f8f018ec30a47fc8e9adef685599ecc);
    </script>
</body>
</html>
