<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="85fc3d2cd0834344b023ea849f864cf8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_85fc3d2cd0834344b023ea849f864cf8 = echarts.init(
            document.getElementById('85fc3d2cd0834344b023ea849f864cf8'), 'white', {renderer: 'canvas'});
        var option_85fc3d2cd0834344b023ea849f864cf8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u7279\u5f81\u91cd\u8981\u6027\u6392\u540d",
            "data": [
                {
                    "name": "\u9996\u6b21\u5bb9\u91cf",
                    "value": 58.79855070135457
                },
                {
                    "name": "\u6b63\u6781\u6750\u6599",
                    "value": 12.748124892307871
                },
                {
                    "name": "\u8d1f\u6781\u6750\u6599",
                    "value": 9.392744921577624
                },
                {
                    "name": "\u9694\u819c\u7eb8",
                    "value": 6.642474453720043
                },
                {
                    "name": "\u5145\u7535\u540e\u6401\u7f6e\u65f6\u95f4",
                    "value": 5.273128600916185
                },
                {
                    "name": "\u6e29\u5ea6",
                    "value": 2.447788107558011
                },
                {
                    "name": "\u7535\u89e3\u6db2",
                    "value": 1.4121847120938686
                },
                {
                    "name": "\u7279\u6b8a\u5de5\u6b65",
                    "value": 1.3552396524402612
                },
                {
                    "name": "\u653e\u7535\u540e\u6401\u7f6e\u65f6\u95f4",
                    "value": 0.8033643216860653
                },
                {
                    "name": "\u5206\u5bb9\u5bb9\u91cf",
                    "value": 0.603617034685985
                },
                {
                    "name": "\u5145\u7535\u7535\u6d41",
                    "value": 0.30197283820458437
                },
                {
                    "name": "2ex\u767e\u5206\u6bd4",
                    "value": 0.22080976345494127
                },
                {
                    "name": "\u5355\u6b21\u653e\u7535\u5bb9\u91cf",
                    "value": 0.0
                }
            ],
            "sort": "decending",
            "gap": 2,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b} : {c}%",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "itemStyle": {
                "borderColor": "#fff",
                "borderWidth": 1
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6b63\u6781\u6750\u6599",
                "\u6e29\u5ea6",
                "\u5206\u5bb9\u5bb9\u91cf",
                "\u7279\u6b8a\u5de5\u6b65",
                "\u5355\u6b21\u653e\u7535\u5bb9\u91cf",
                "\u7535\u89e3\u6db2",
                "\u5145\u7535\u540e\u6401\u7f6e\u65f6\u95f4",
                "\u653e\u7535\u540e\u6401\u7f6e\u65f6\u95f4",
                "\u9694\u819c\u7eb8",
                "\u9996\u6b21\u5bb9\u91cf",
                "\u5145\u7535\u7535\u6d41",
                "2ex\u767e\u5206\u6bd4",
                "\u8d1f\u6781\u6750\u6599"
            ],
            "selected": {
                "\u9996\u6b21\u5bb9\u91cf": true,
                "\u6b63\u6781\u6750\u6599": true,
                "\u8d1f\u6781\u6750\u6599": true,
                "\u9694\u819c\u7eb8": true,
                "\u5145\u7535\u540e\u6401\u7f6e\u65f6\u95f4": true,
                "\u6e29\u5ea6": true,
                "\u7535\u89e3\u6db2": true,
                "\u7279\u6b8a\u5de5\u6b65": true,
                "\u653e\u7535\u540e\u6401\u7f6e\u65f6\u95f4": true,
                "\u5206\u5bb9\u5bb9\u91cf": true,
                "\u5145\u7535\u7535\u6d41": true,
                "2ex\u767e\u5206\u6bd4": true,
                "\u5355\u6b21\u653e\u7535\u5bb9\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7279\u5f81\u91cd\u8981\u6027\u6392\u540d",
            "subtext": "\u76f8\u5bf9\u4e8e\u5faa\u73af\u5bff\u547d",
            "left": "20%",
            "bottom": "60%",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "top": "30%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    }
};
        chart_85fc3d2cd0834344b023ea849f864cf8.setOption(option_85fc3d2cd0834344b023ea849f864cf8);
    </script>
</body>
</html>
